@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #453a72;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  position: absolute;
  top: 1rem;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  font-weight: 600;
}
a {
  all: unset;
  cursor: pointer;
}
.rect-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
}

.rect {
  position: absolute;
  width: 256px;
  height: 256px;
  border-radius: 32px;
  background-clip: border-box;
}

.rect1 {
  top: 32px;
  left: 32px;
  z-index: 1;
}

.rect2 {
  top: 32px;
  right: 32px;
  z-index: 2;
}

.rect3 {
  bottom: 32px;
  left: 32px;
  z-index: 3;
}

.rect4 {
  bottom: 32px;
  right: 32px;
  z-index: 4;
}

.rect-container .rect,
.outer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.rect-container .rectH {
  border-radius: 16px;
}

.rectJ {
  clip-path: path(
    "M256 16C256 7.16344 248.837 0 240 0H16C7.16344 0 0 7.16344 0 16V128C5.12596e-06 161.948 13.4857 194.505 37.4903 218.51C61.495 242.514 94.0523 256 128 256C161.948 256 194.505 242.514 218.51 218.51C242.514 194.505 256 161.948 256 128V16Z"
  );
  clip-rule: evenodd;
}

.rectV {
  clip-path: path(
    "M2.57771 23.1554C-2.7415 12.517 4.99443 0 16.8885 0H221.111C233.006 0 240.741 12.517 235.422 23.1554L133.311 227.378C127.414 239.171 110.586 239.171 104.689 227.378L2.57771 23.1554Z"
  );
  /* clip-path: polygon(51% 100%, 0 0, 100% 0); */
}

.label {
  position: absolute;
  bottom: -44px;
}

.status {
  position: absolute;
  bottom: -84px;
  font-size: 0.75rem;
}
